Source: sinhala-gnu-linux
Section: sinhala
Priority: optional
Maintainer: Anuradha Ratnaweera <anuradha@taprobane.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.6.2

Package: sinhala-gnu-linux
Architecture: all
Depends: firefox (>= 1.5), libskim0, scim, scim-sinhala-trans, sinhala-font-lklug, sinhala-locale-glibc, skim
Description: Dummy package to install all the packages to add Sinhala
 support for GNU/Linux.
