Source: sinhala-gnu-linux
Section: sinhala
Priority: optional
Maintainer: Anuradha Ratnaweera <anuradha@taprobane.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.6.2

Package: sinhala-gnu-linux
Architecture: all
Depends: libskim0, scim-sinhala-trans, sinhala-font-lklug, sinhala-locale-glibc
Suggests: scim, skim, firefox (>= 1.5)
Description: Dummy package to install all the packages to add Sinhala
 support for GNU/Linux.
